<h1 class="text-center mb-4">Welcome to my todolist app</h1>
<%= render 'layouts/task_form'  %>

<%= stylesheet_link_tag "ybo_home" %>
<%= javascript_include_tag "ybo_home" %>

<div class="container">
  <ul class="tabs">
    <% @categories.each_with_index do |category, index|
      ajo=""
      ajo=" current" if index == 0 %>
        <li class="tab-link<%= ajo %>" data-tab="tab-<%= (index+1).to_s %>"><%= category.title  %></li>
    <% end %>
  </ul>

  <% @categories.each_with_index do |category, index| 
    ajo=""
    ajo=" current" if index == 0%>
      <div class="card tab-content<%= ajo %>" id="tab-<%= (index+1).to_s %>">
        <ul>
          <% category.tasks.each do |task|  %>
          <li>
            <%= task.title  %>
            <% unless task.deadline.nil? %>
              , to read: <%= task.deadline.strftime('%D')  %>
            <% end %>
          </li>
          <% end %>
        </ul>
      </div>
  <% end %>
</div>

<div class="container" style="margin-top:20px">
  <div class="row">
    <% @tasks.each do |task|  %>
      <div class="card col-3">
        <% unless task.image.nil? %>
          <%= image_tag task.image, class: "rounded-circle" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
